@model AdvancedAjax.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h1>Details</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" enctype="multipart/form-data">

            <input type="hidden" asp-for="Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" value="@Model.City?.Country?.Name ?? " No Country"" readonly />
            </div>

            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" value="@Model.City?.Name ?? " No City"" readonly />
            </div>

            <div class="col-md-12 btn-group pb-2">
                <div class="form-group col-4 p-0">
                    <label asp-for="ProfilePhoto" class="control-label"></label>
                    <img id="PreviewPhoto" src="~/Images/@Model.PhotoUrl" alt="Logo Image" width="125" height="125" />
                </div>
                <div class="col-1 p-0"></div>
                <div class="form-group col-7 p-0"></div>
            </div>

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>

            <div class="form-group pt-0 mt-0" style="visibility: hidden;">
                <input asp-for="PhotoUrl" id="PhotoUrl" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
